<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <script>
        (
            
            async () => {
                const headers = new Headers({
                    'Content-Type': 'x-www-form-urlencoded',
                    'X-CSRFToken': "{{csrf_token}}"
                });
                let name = "Komiljonov";
                let number = "+998998704306";   
                let workplace = "Ish joyi";

                const res = await fetch('/register', {
                    method: "POST",
                    headers: headers,
                    body: JSON.stringify(
                        {
                            name,
                            number
                        }
                    ),
                })
            }
        )()
    </script>
</body>
</html>